<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/resetpassword.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <title>Bounty Hunter | Reset your password</title>
  </head>
  <body>

    <div class='container'>
      <div class='row'>
        <div class='col-md-12' class='logo-wrap'>
          <img src='../assets/logo.svg' class='logo'>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-12'>
          <h1 class='title'>Reset your password</h1>
        </div>
      </div>
      <div class='row'>
        <div class='col-lg-4 offset-lg-4'>
          <div class="alert alert-danger" id='alert' role="alert">
            A simple danger alert—check it out!
          </div>
        </div>
      </div>
      <form action='/users/resetpassword/{{token}}' method='POST' class='ajax'>
      <div class='row'>
        <div class='col-lg-4 offset-lg-4'>
          <input type='password' name='newpassword' placeholder='Enter a new password' class='form-control'>
        </div>
      </div>
      <div class='row'>
        <div class='col-lg-4 offset-lg-4'>
          <input type='password' placeholder='Confirm new password' name='confirmpassword' class='form-control'>
        </div>
      </div>
      <div class='row'>
        <div class='col-lg-4 offset-lg-4'>
          <input type='submit' value='Change Password' class='btn btn-danger'>
        </div>
      </div>
      </form>
    </div>

    <script>
      $(document).ready(function() {
        $('form.ajax').on('submit', function(){

          $('#alert').hide();

          var that = $(this),
    			type = that.attr('method'),
    			url = that.attr('action'),
    			data = {};

    		  that.find('[name]').each(function(index, value){
    			     var that = $(this),
    		       name = that.attr('name'),
    		       value = that.val();

    			     data[name] = value;
		      });

          if(data.newpassword != '' && data.confirmpassword !=''){
            if(data.newpassword == data.confirmpassword){
              $.ajax({
              			url:url,
              			type:type,
              			data:data,
              			success: function(resp){
                      $('#alert').removeClass('alert-danger').html(resp.message).addClass('alert-success').slideDown();
                      $('form.ajax').fadeOut();
              			},
                    error: function(jqXHR, textStatus, errorThrown){
                      console.log(jqXHR);
                      if(jqXHR.status != 200){
                        if(jqXHR.status == 404){
                          $('#alert').html("Invalid token").addClass('alert-danger').slideDown();
                        }
                        $('#alert').html(jqXHR.responseJSON.error).addClass('alert-danger').slideDown();
                      }
                    }
              });
            }else{
              $('#alert').html("Passwords don't match!").addClass('alert-danger').slideDown();
            }
          }else{
            $('#alert').html("Please fill in both fields").addClass('alert-danger').slideDown();
          }


          return false;
        });
      });
    </script>

  </body>
</html>
