body{
  background-color:#192a56;
  color:#fff;
  margin-top:30px;
}

.logo-wrap{
  text-align:center;
}

.logo{
  width:20vw;
  display:block;
  margin:0 auto;
}

.title{
  margin-top:30px;
  text-align:center;
}

input[type=password]{
  margin-top:10px;
}
input[type=submit]{
  margin-top:20px;
  float:right;
  width:100%;
}

.alert{
  margin-top:20px !important;
  display:none;
}

@media (max-width: 991.98px) {
  .logo{
    width:80%;
  }
}
